.imageAndTextCpt {
    float: left;
    width: 100px;
    height: 100px;
    background: #EFC;
    overflow: hidden;
}

.imageListCpt {
    float: left;
    width: 100px;
    height: 100px;
    background: #CEC;
    overflow: hidden;
}

.swiperCpt{
    float:left;
    width:200px;
    height:100px;
    background:#CCE;
    overflow:hidden;
}